
@{
    Layout = "_CommonMasterLayout";

    TempData["menuHorizontal"] = true;
    ViewData["navbarFull"] = true;

    @* Display elements *@
    ViewData["isNavbar"] = (ViewData["isNavbar"] ??= true);
    ViewData["isMenu"] = (ViewData["isMenu"] ??= true);
    ViewData["isFlex"] = (ViewData["isFlex"] ??= false);
    ViewData["isFooter"] = (ViewData["isFooter"] ??= true);

    @* HTML Classes *@
    ViewData["navbarDetached"] = null;
    ViewData["menuFixed"] = (ViewData["menuFixed"] ?? "layout-menu-fixed");
    ViewData["navbarFixed"] = (ViewData["navbarFixed"] ?? "layout-navbar-fixed");

    @*Content classes *@
    ViewData["container"] = (ViewData["container"] ?? "container-xxl");
    ViewData["containerNav"] = (ViewData["containerNav"] ?? "container-xxl");
    TempData.Keep();
}


@section VendorStyles{ @RenderSection("VendorStyles", required: false)}

@section PageStyles{ @RenderSection("PageStyles", required: false)}

@section VendorScripts{ @RenderSection("VendorScripts", required: false)}

@section PageScripts{ @RenderSection("PageScripts", required: false)}

<div class='layout-wrapper layout-navbar-full layout-horizontal layout-without-menu'>
    <div class='layout-container'>
        @if (Convert.ToBoolean(@ViewData["isNavbar"]))
        {
            @await Html.PartialAsync("Sections/Navbar/_Navbar")
        }
        <div class="layout-page">
            <div class="content-wrapper">
                <div class=''>
                    @RenderBody()
                </div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>
@if (Convert.ToBoolean(@ViewData["isMenu"]))
{
    <div class="layout-overlay layout-menu-toggle"></div>
}

<div class="drag-target"></div>
